body {
    padding: 0;
    margin: 0;
    background-color: cornsilk;
    font-family: "univers", sans-serif;
}

/*2d2d2d*/

a:link, a:visited, a:active  {
    color: cornsilk;
}

#hero {
    height: 300px;
}

#pageContain {
    background-color: cornsilk;
    height: 500;
}

#content {
    padding-bottom: 100px;
}

#behindNav, #nav {
    height: 50px;
    color: cornsilk;
}

#pageContain {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#behindNav, #nav {
    position: fixed;
    top: 0;
}

#behindNav {
    right: 0;
}

#nav {
    left: 0px;
    padding: 0;
}

.contactList {
    list-style-type: none;
}

#nav > div {
    padding-left: 20px;
    padding-top: 20px;
}

#nav h1, #nav h2, #footer h3 {
    display: inline;
    margin-right: 20px;
}

#footer > div {
    padding-top: 10px;
    float: left;
    width: 33%;

}

.left {
    margin-left: .9%;
}


.middle {
    text-align: center;
}

.right {
    text-align: right;
    margin: 0;
}

#nav, #footer {
    width: 100%;
    color: cornsilk;
}

h2, h3 {

    font-weight: normal;
    font-size: 150%;
}

h2, a:link, a:visited, a:active {
    font-family: universCondensed;
}

#footer, #nav {
    background-image: url('../images/black70.png');
}

#footer {
    position: fixed;
    bottom: 0px;
}

@font-face {
    font-family: univers;
    src: url('../fonts/UniversLTStd-Light.otf');
}

@font-face {
    font-family: univers;
    font-weight: bold;
    src: url('../fonts/UniversLTStd-Black.otf');
}

@font-face {
    font-family: universCondensed;
    src: url('../fonts/UniversLTStd-LightCn.otf');
}