/*
    Color scheme: http://www.colorcombos.com/color-schemes/3504/ColorCombo3504.html

    coral: E14B3B;
    teal: 1C8B98;
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', 'Arial', 'Sans';
    font-size: 24px;
    min-width: 900px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: normal;
    color: #E14B3B;
}

hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:    -moz-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:     -ms-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:      -o-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
}

a {
    color: #EDAA4E;
}

i {
    display: inline;
}

.iconDescription {
    display: none;
    opacity: 0;
}

.body {
    padding-left: 15%;
    padding-right: 15%;
    opacity: 0;
    display: none;
    z-index: 500;
}

.body h1 {
    text-align: right;
}

h2 {
    color: #1C8B98;
}

h3 {
    font-style: italic;
    color: #EDAA4E;
    font-weight: normal;
}

/* icons inside link */
a > i {
    color: black;
}

.signature {
    font-style: italic;
}

#navbar > .item {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
    background-color: #E14B3B;
    text-align: center;
    float: left;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 10px -2px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 10px -2px rgba(50, 50, 50, 0.75);
}

#navbar > div:nth-child(odd) {
    background-color: #1C8B98;
}

.mobileNavSubMenu > div:nth-child(odd) {
    color: #1C8B98;
    background-color: #FFFFFF;
}

#navbar > .item > div > div {
    font-size: 150%;
}

.visible {
    opacity: 1;
    display: block;
}

.quote {
    font-style: italic;
}

li {
    margin: 0 0 10px 0;
}

.mobileNav {
/*    text-align: right;
    width: 400px;
    float: right;
    position: relative;
    color: #E14B3B;*/
    display: inline-block;

    width: 400px;
    margin-left: -300px;
    position: relative;
}

.template {
    display: none;
}

.mobileNavSubMenu {
    width: 400px;
    opacity: 0;
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.mobileNavSubMenu > div {
    background-color: #D1D2D5;
    color: #E14B3B;
    width: 100%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px;
    padding-bottom: 2px;
    height: 100px;
    font-size: 48px;
}

.mobileIconDescription {
    float: right;
}

.hidden {
    display: none;
}

.projectInfo > ul {
    list-style-type: none;
}

.projectInfo > ul > li {
    margin: 0;
}

.projectInfo > h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.projectInfo > p {
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.projectInfo > img {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.projectInfo {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 25px;
}


/* Images */
.bodyContents {
    margin-top: -100px;
}

h1.header-description {
    position: relative;
    top: -170px;
    left: 0px;
    text-align: right;
    width: 100%;
    max-width: 1600px;
}

.cloudy {
    background: url('../img/fade.png');
    width: 50%;
    height: 100px;
    position: relative;
    top: -40px;
    margin-left: 50%;
    right:0px;
}

.bodyHeader {
    height: 0px;

}

#headerImage {
    position: relative;
    top: 58px;
    left: 0px;
    height: 400px;
    width: 100%;
    z-index: -1;
}

.imageHome {
    background: url('../img/uw.jpg') no-repeat center center; 
}

.imageBlog {
    background: url('../img/index.jpg') no-repeat center center; 
}

.imageEducation {
    background: url('../img/whiteboard.jpg') no-repeat center center; 
}

.imageProjects {
    background: url('../img/projects.jpg') no-repeat center center; 
}

.imageContact {
    background: url('../img/contact.jpg') no-repeat center center; 
}