/*
    Color scheme: http://www.colorcombos.com/color-schemes/3504/ColorCombo3504.html

    coral: E14B3B;
    teal: 1C8B98;
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', 'Arial', 'Sans';
}

h1 {
    font-weight: normal;
    color: #E14B3B;
    font-size: 48px;
}

hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:    -moz-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:     -ms-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:      -o-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
}

/*#nav, #body {
    float: left;
}

#nav {
    width: 33%;
    height: 100%;
}

#body {
    padding: 2%;
    text-align: right;
    width: 63%;
    height: 100vh;
}
*/
i {
    display: inline;
}

.iconDescription {
    display: none;
    opacity: 0;
}
/*
#nav > div {
    width: 50px;
    height: 20vh;
    background-color: #E14B3B;
    text-align: center;
}

#nav>div:nth-child(odd) {
    background-color: #1C8B98;
}
*/
#body {
    padding: 5%;
    text-align: right;
}

#navbar > .item {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
    background-color: #E14B3B;
    text-align: center;
    float: left;
    overflow: hidden;
}

#navbar > div:nth-child(odd) {
    background-color: #1C8B98;
}

#navbar > .item > div > div {
    font-size: 150%;
}

