/*
    Color scheme: http://www.colorcombos.com/color-schemes/3504/ColorCombo3504.html

    coral: E14B3B;
    teal: 1C8B98;
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', 'Arial', 'Sans';
    font-size: 24px;
    min-width: 900px;
}

h1 {
    font-weight: normal;
    color: #E14B3B;
}

hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:    -moz-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:     -ms-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
    background-image:      -o-linear-gradient(left, rgba(237,170,78,0), rgba(237,170,78,0.75), rgba(237,170,78,0)); 
}

a {
    color: #EDAA4E;
}

i {
    display: inline;
}

.iconDescription {
    display: none;
    opacity: 0;
}

.body {
    padding: 15%;
    padding-top: 100px;
    opacity: 0;
    display: none;
}

.body h1 {
    text-align: right;
}

h2 {
    color: #1C8B98;
}

h3 {
    font-style: italic;
    color: #EDAA4E;
    font-weight: normal;
}

/* icons inside link */
a > i {
    color: black;
}

.signature {
    font-style: italic;
}

#navbar > .item {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
    background-color: #E14B3B;
    text-align: center;
    float: left;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 10px -2px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 10px -2px rgba(50, 50, 50, 0.75);
}

#navbar > div:nth-child(odd) {
    background-color: #1C8B98;
}

#mobileNavSubMenu > div:nth-child(odd) {
    color: #1C8B98;
    background-color: #FFFFFF;
}

#navbar > .item > div > div {
    font-size: 150%;
}

.visible {
    opacity: 1;
    display: block;
}

.quote {
    font-style: italic;
}

li {
    margin: 0 0 10px 0;
}

#mobileNav {
    text-align: left;
    width: 300px;
    float: left;
    display: none;
    position: relative;
    color: #E14B3B;
}

#mobileNavSubMenu {
    width: 300px;
    opacity: 0;
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#mobileNavSubMenu > div {
    background-color: #D1D2D5;
    color: #E14B3B;
    width: 100%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mobileIconDescription {
    float: right;
}
