.body {
	font-family: univers;
	font-size: 18px;
	padding: 10px;
}

.navdiv {
	height: 55px;
}

.page-header, .noline-header {
  padding: 0px 15px;
  text-align: center;
}

#noline-header {
	border: none;
}

.col-md-5 {
    margin: 1em 0;  
    position: relative;
    height: 150px;
}
.featurette-image {  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}


.navbar-header > img {
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}

#contact-me {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#ones-zeroes {
	font-family: "courier new";
	line-height: 50%;
	font-size: 40%;
	vertical-align: middle;
}

.navbar.navbar-inverse.navbar-fixed-top {
	color: white;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

/*.container.chunk {
	height: 450px;
}*/

ul {
	list-style-type: none;
}

h1 {
	font-size: 175%;
	letter-spacing: 4px;
	font-variant:small-caps;
}

h1, h2 {
	font-weight:normal !important;
	line-height: 80%;
}

h2 {
	font-size: 110%;
}

@font-face {
    font-family: univers;
    src: url('../fonts/UniversLTStd-Light.otf');
}

@font-face {
    font-family: univers;
    font-weight: bold;
    src: url('../fonts/UniversLTStd-Black.otf');
}

@font-face {
    font-family: universCondensed;
    src: url('../fonts/UniversLTStd-LightCn.otf');
}

.spaced > li {
	margin-bottom: 5px;
}

.spaced {
	list-style-type: square;
}

/*
.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-header > button > a:link, .navbar-header > button > a:hover, .navbar-header > button > a:visited, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: white;
}

a:link.navbar.navbar-inverse.navbar-fixed-top {
	color: white;
}

*/